registry = https://registry.npmmirror.com # 镜像源
canvas_binary_host_mirror = https://registry.npmmirror.com/-/binary/canvas # canvas安装慢的问题

ignore-workspace-root-check = true
shamefully-hoist = true
strict-peer-dependencies = false
auto-install-peers = true