<!--
 * @Author: 秦少卫
 * @Date: 2023-03-07 00:00:38
 * @LastEditors: 秦少卫
 * @LastEditTime: 2023-04-03 20:50:47
 * @Description: file content
-->
<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=1000px,initial-scale=1.0" />
  <link rel="icon" href="<%- BASE_URL %>favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- APP_TITLE %></title>
  <link rel="stylesheet" href="<%- APP_REPO %>font/<%- APP_FONT_CSS_FILE%>">
</head>

<body>
  <div id="app"></div>
  <script type="module" src="/src/main.ts"></script>
</body>
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement('script');
    hm.src = 'https://hm.baidu.com/hm.js?147609b3a2b7f053b2e7c7331a6c5058';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

</html>