@font-face{
    font-family: '1-1';
    src : url('./1.ttf');
}

@font-face{
    font-family: '2-2';
    src : url('./2.ttf');
}

@font-face{
    font-family: '3-3';
    src : url('./3.ttf');
}

@font-face{
    font-family: '4-4';
    src : url('./4.ttf');
}

@font-face{
    font-family: '5-5';
    src : url('./5.ttf');
}

@font-face{
    font-family: '6-6';
    src : url('./6.ttf');
}

@font-face{
    font-family: '7-7';
    src : url('./7.ttf');
}

@font-face{
    font-family: '8-8';
    src : url('./8.ttf');
}

@font-face{
    font-family: 'meibeiheiehi';
    src : url('./美呗嘿嘿体2.0.ttf');
}


@font-face{
    font-family: '阿瓜准圆体-bold1.0';
    src : url('./en/阿瓜准圆体-bold1.0.ttf');
}

@font-face{
    font-family: '阿瓜准圆体-light1.0';
    src : url('./en/阿瓜准圆体-light1.0.ttf');
}

@font-face{
    font-family: '阿瓜准圆体-regular1.0';
    src : url('./en/阿瓜准圆体-regular1.0.ttf');
}

@font-face{
    font-family: '方正清刻本悦宋简';
    src : url('./方正清刻本悦宋简.ttf');
}


@font-face{
    font-family: 'BRANIC';
    src : url('./en/BRANIC.otf');
}

@font-face{
    font-family: 'Harshita';
    src : url('./en/Harshita.ttf');
}

@font-face{
    font-family: '苦累蛙圆体';
    src : url('./苦累蛙圆体.ttf');
}

@font-face{
    font-family: '文鼎PL细上海宋';
    src : url('./文鼎PL细上海宋.ttf');
}


@font-face{
    font-family: '华文楷体';
    src : url('./华文楷体.ttf');
}

@font-face{
    font-family: '华康金刚黑 Regular';
    src : url('./华康金刚黑 Regular.ttf');
}

@font-face{
    font-family: '品如手写体';
    src : url('./品如手写体.ttf');
}


@font-face{
    font-family: '方正硬笔楷书简体';
    src : url('./方正硬笔楷书简体.ttf');
}


@font-face{
    font-family: '方正字迹-徐万清手写体';
    src : url('./方正字迹-徐万清手写体.ttf');
}

@font-face{
    font-family: '日本恋';
    src : url('./日本恋.ttf');
}




















